<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--  Favicon  -->
    <link rel="shortcut icon" href="../favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png"/>
    <link rel="manifest" href="../favicon/site.webmanifest"/>
    <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#444444"/>
    <meta name="theme-color" content="#ffffff"/>

    <title>Yu-Cheng Feng</title>
</head>
<body class="max-w-[768px] mx-auto p-[20px]">
<header>
    <div class="flex sm:flex-row flex-col justify-between">
        <img src="../img/avatar/avatar-6.jpg" alt="avatar" class="sm:h-[150px] sm:ml-[20px] sm:block hidden">
        <div class="sm:order-first">
            <h1 class="mb-2">
                <span><%= htmlWebpackPlugin.options.pageData.about.data.firstName %></span>
                <span><%= htmlWebpackPlugin.options.pageData.about.data.lastName %></span>
                <span>(<%= htmlWebpackPlugin.options.pageData.about.data.name %>)</span>
            </h1>
            <ul class="text-sm flex flex-col sm:flex-row sm:space-x-[20px] mb-2">
                <li class="flex items-center ">
                    <span class="iconify-inline mr-2" data-icon="fluent:mail-20-filled"></span>
                    <a href="<%= htmlWebpackPlugin.options.pageData.about.data.emailHref %>">
                        <%= htmlWebpackPlugin.options.pageData.about.data.email %>
                    </a>
                </li>
                <li class="flex items-center">
                    <span class="iconify-inline mr-2" data-icon="akar-icons:github-fill"></span>
                    <a href="<%= htmlWebpackPlugin.options.pageData.about.data.githubHref %>">
                        <%= htmlWebpackPlugin.options.pageData.about.data.github %>
                    </a>
                </li>
                <li class="flex items-center">
                    <span class="iconify-inline mr-2" data-icon="dashicons:admin-site"></span>
                    <a href="<%= htmlWebpackPlugin.options.pageData.about.data.websiteHref %>">
                        <%= htmlWebpackPlugin.options.pageData.about.data.website %>
                    </a>
                </li>
                <li class="flex items-center">
                    <span class="iconify-inline mr-2" data-icon="fa:phone-square"></span>
                    <span>secret</span>
                </li>
            </ul>
            <section id="about">
                <h2><%= htmlWebpackPlugin.options.pageData.about.name %></h2>
                <p><%= htmlWebpackPlugin.options.pageData.about.data.description1 %></p>
            </section>
        </div>
    </div>

</header>
<main>
    <section id="education">
        <h2><%= htmlWebpackPlugin.options.pageData.education.name %></h2>
        <ul>
            <% htmlWebpackPlugin.options.pageData.education.data.forEach(item => { %>
            <li class="mb-2">
                <span class="flex sm:flex-row flex-col justify-between">
                    <span class="inline-block font-bold text-primary-900">
                        <span><%= item.school %></span>
                    </span>
                    <span class="inline-block font-bold italic"><%= item.location %></span>
                </span>
                <span class="flex sm:flex-row flex-col justify-between italic">
                    <span class="inline-block font-bold"><%= item.degree %></span>
                    <span class="inline-block"><%= item.date %></span>
                </span>
                <ul class="list-disc pl-4">
                    <% item.description.forEach(element => { %>
                    <li><%= element %></li>
                    <% }) %>
                </ul>
            </li>
            <% }) %>
        </ul>
    </section>
    <section id="publications">
        <h2><%= htmlWebpackPlugin.options.pageData.publications.name %></h2>
        <ul class="list-decimal list-inside">
            <% htmlWebpackPlugin.options.pageData.publications.data.forEach(item => { %>
            <li class="mb-2">
                <span><%= item.author %></span>
                <span><%= item.title %></span>
                <span class="italic"><%= item.publishedIn %></span>
                <span class="italic"><%= item.journal %></span>
                <span><%= item.volume %></span>
                <span><%= item.number %></span>
                <span><%= item.date %></span>
                <span><%= item.page %></span>
                <a href="<%= item.href %>" target="_blank"><%= item.doi %></a>
            </li>
            <% }) %>
        </ul>
    </section>
    <section id="skills">
        <h2><%= htmlWebpackPlugin.options.pageData.skills.name %></h2>
        <ul>
            <% Object.keys(htmlWebpackPlugin.options.pageData.skills.data).forEach((key, value) => { %>
            <li class="flex sm:flex-row flex-col mb-2">
                <div class="font-bold italic sm:w-[20%]"><%= key %></div>
                <div class="w-[80%] sm:text-right">
                    <% htmlWebpackPlugin.options.pageData.skills.data[key].forEach((item, index) => { %>
                    <% if(index + 1 < htmlWebpackPlugin.options.pageData.skills.data[key].length){ %>
                    <span><%= item %> | </span>
                    <% }else{ %>
                    <span><%= item %></span>
                    <% } %>
                    <% }) %>
                </div>
            </li>
            <% }) %>
        </ul>
    </section>
    <section id="projects">
        <h2><%= htmlWebpackPlugin.options.pageData.projects.name %></h2>
        <ul>
            <% htmlWebpackPlugin.options.pageData.projects.data.forEach((value, key) => { %>
            <li class="mb-2">
                    <span class="flex sm:flex-row flex-col justify-between">
                        <span class="inline-block">
                            <span class="font-bold text-primary-900"><%= value.title %></span>
                            <span class="italic">[<%= value.tag %>]</span>
                        </span>
                        <span class="inline-block font-bold italic"><%= value.date %></span>
                    </span>
                <ul class="list-disc pl-4">
                    <li><%= value.description %></li>
                </ul>
            </li>
            <% }) %>
        </ul>
    </section>
    <section id="workExperiences">
        <h2><%= htmlWebpackPlugin.options.pageData.workExperiences.name %></h2>
        <ul>
            <% htmlWebpackPlugin.options.pageData.workExperiences.data.forEach((value, key) => { %>
            <li class="mb-2">
                <span class="flex sm:flex-row flex-col justify-between">
                    <span class="inline-block font-bold text-primary-900">
                        <span><%= value.title %></span>
                    </span>
                    <span class="inline-block font-bold italic"><%= value.job %> | <%= value.date %></span>
                </span>
                <ul class="list-disc pl-4">
                    <% value.description.forEach(element => { %>
                    <li><%= element %></li>
                    <% }) %>
                </ul>
            </li>
            <% }) %>
        </ul>
    </section>
    <section id="honors">
        <h2><%= htmlWebpackPlugin.options.pageData.honors.name %></h2>
        <ul>
            <% htmlWebpackPlugin.options.pageData.honors.data.forEach((value, key) => { %>
            <li class="mb-2">
                <div class="flex sm:flex-row flex-col justify-between">
                    <div class="flex sm:flex-row flex-col">
                        <span class="font-bold italic mr-2"><%= value.date %></span>
                        <span class="font-bold text-primary-900"><%= value.title %></span>
                    </div>
                    <span class="inline-block font-bold italic"><%= value.location %></span>
                </div>
            </li>
            <% }) %>
        </ul>
    </section>
</main>

</body>
</html>